// ============================
// DEFAULT THEME

.dnd {
  font-family: "Montserrat", sans-serif;
  max-width: 420px;

  // colors:
  --green: #51cf17;
  --green_active: #49b914;

  // elements
  --dropzone_bg: #9c9c9c1e;
  --dropzone_bg_h: #5edf5e44;
  --dropzone_border: #c4c4c4;
  --dropzone_border_a: rgb(64, 136, 64);
  --dropzone_title_text: #9c9c9c;
  --dropzone_icon: #c2c2c2;

  --load_btn_full: #fff;
  --load_btn_full_h: #eeeeee;
  --load_btn_full_border: #d6d6d6;
  --load_btn_full_text: #3f3f3f;
  --load_btn_compact_bg: #f1f1f1;
  --load_btn_compact: var(--green);
  --load_btn_compact_h: var(--green_active);

  --alert_warning_bg: #f3f736;
  --alert_warning_border: #dee033;
  --alert_warning_text: #6f700e;

  --alert_danger_bg: rgb(238, 70, 70);
  --alert_danger_border: transparent;
  --alert_danger_text: #fff;

  --submit_btn_text: #fff;
  --submit_btn_bg: var(--green);
  --submit_btn_bg_h: var(--green_active);

  --upload_img_text: #1a1a1a;

  --default_preview_bg: #fcfcfc;
  --default_preview_border: #dfdfdf;
  --default_preview_icon: #727272;

  ::-webkit-scrollbar {
    background-color: rgb(216, 216, 216);
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: #acacac;
  }
}

// ============================

// SIZES

// size
.dnd[data-size="sm"] {
  max-width: 300px;

  .dnd__wrap {
    min-height: 160px;
    height: 160px;
  }
}

.dnd[data-size="md"] {
  max-width: 420px;

  .dnd__wrap {
    height: 200px;
  }
}

.dnd[data-size="lg"] {
  max-width: 520px;

  .dnd__wrap {
    height: 350px;
  }
}

.dnd[data-size="full"] {
  max-width: 100%;

  .dnd__wrap {
    height: 100%;
  }
}

// width
.dnd[data-width="sm"] {
  max-width: 300px;
}

.dnd[data-width="md"] {
  max-width: 420px;
}

.dnd[data-width="lg"] {
  max-width: 520px;
}

.dnd[data-width="full"] {
  max-width: none;
}

// height
.dnd[data-height="sm"] {
  .dnd__wrap {
    min-height: 160px;
    height: 160px;
  }
}

.dnd[data-height="md"] {
  .dnd__wrap {
    height: 200px;
  }
}

.dnd[data-height="lg"] {
  .dnd__wrap {
    height: 350px;
  }
}

.dnd[data-height="full"] {
  .dnd__wrap {
    height: 100%;
  }
}

// ============================

.dnd__wrap {
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--dropzone_border);
  transition: .4s;
  background: var(--dropzone_bg);
}

.dnd__title {
  color: var(--dropzone_title_text);
  margin-top: 6px;
  pointer-events: none;
  font-size: 14px;
}

.dnd__offer span {
  color: var(--dropzone_title_text);
  pointer-events: none;
  font-size: 14px;
}

.dnd__offer_icon {
  pointer-events: none;
  width: 45px;

  path {
    fill: var(--dropzone_icon);
  }
}

.dnd__offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.dnd__file_wrap.compact {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: var(--load_btn_compact_bg);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  .dnd__file_label {
    padding: 0;
    background: none;
    border: none;
    box-sizing: border-box;
    margin-top: 0;

    span {
      display: none;
    }

    .dnd__file_label_icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      .dnd__file_label_icon path {
        fill: var(--load_btn_compact_h);
      }
    }
  }

  .dnd__file_label_icon {
    display: inline-block;

    path {
      fill: var(--load_btn_compact);
      transition: .2s;
    }
  }
}

.dnd__file_label {
  background: var(--load_btn_full);
  padding: 5px 10px;
  border: 1px solid var(--load_btn_full_border);
  color: var(--load_btn_full_text);
  transition: .3s;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 8px;

  &:hover {
    background: var(--load_btn_full_h);
  }
}

.dnd__file_label_icon {
  width: 40px;
  height: 40px;
  display: none;
}

.dnd__upload_files {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  column-gap: 8px;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 90%;
}

.dnd__upload_file {
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

.dnd__upload_file_empty {
  display: none;
}

.dnd__upload_file_wrap {
  aspect-ratio: 16/9;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    object-fit: contain;
  }

  &:hover {
    .dnd__upload_file_delete_btn {
      display: block;
    }
  }
}

.dnd__upload_file_title {
  margin-top: 3px;
  font-size: 12px;
  max-width: 100%;
  max-height: 14px;
  overflow: hidden;
  pointer-events: none;
  color: var(--upload_img_text);
}

.dnd__upload_file_delete_btn {
  background: none;
  border: none;
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
}

.dnd__upload_file_delete_btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, .3));
  width: 20px;

  path {
    fill: rgb(248, 23, 23);
    transition: .3s;
  }

  &:hover path {
    fill: rgb(221, 23, 23);
  }
}

.dnd__submit_btn {
  margin-top: 10px;
  background: var(--submit_btn_bg);
  color: var(--submit_btn_text);
  border: 1px solid transparent;
  padding: 6px 10px;
  transition: .3s;
  cursor: pointer;

  &:hover {
    background: var(--submit_btn_bg_h);
  }
}

.dnd__alerts_wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 10px;
  row-gap: 5px;
  pointer-events: none;
}

.dnd__alert {
  padding: 3px 10px;
  font-size: 14px;
  z-index: 2;
}

.dnd__alert[data-type="warning"] {
  background: var(--alert_warning_bg);
  border: 1px solid var(--alert_warning_border);
  color: var(--alert_warning_text);
}

.dnd__alert[data-type="danger"] {
  background: rgb(238, 70, 70);
  color: var(--alert_danger_text);
  border: 1px solid transparent;
}

.dnd__offer,
.dnd__offer_icon,
.dnd__title {
  pointer-events: none;
}

.dnd.active {
  .dnd__offer span {
    display: none;
  }

  .dnd__upload_files {
    pointer-events: none;
  }

  .dnd__file_wrap {
    pointer-events: none;
    display: none;

    .dnd__file,
    .dnd__file_label {
      pointer-events: none;
    }
  }
}

.dnd.filled {
  .dnd__offer {
    display: none;
  }

  .dnd__upload_files {
    width: 97%;
  }
}

.dnd.over {
  .dnd__wrap {
    background: var(--dropzone_bg_h);
    border: 2px dashed var(--dropzone_border_a);
  }

  .dnd__file_wrap {
    pointer-events: none;
    display: none;
  }
}

.dnd.filled.over {
  .dnd__offer {
    display: flex;
    position: absolute;
    right: 15px;
    bottom: 8px;
    flex-direction: row;
    column-gap: 5px;
    z-index: 4;
    padding: 3px 8px;

    .dnd__offer_icon {
      width: 20px;
    }

    span {
      display: none;
    }
  }

  .dnd__title {
    display: block;
    margin: 0;
    font-size: 12px;
  }

  .dnd__upload_file {
    pointer-events: none;
  }
}

.dnd.filled.over .dnd__offer {
  background: var(--green);
  color: #fff;

  .dnd__title {
    color: #fff;
  }

  .dnd__offer_icon path {
    fill: #fff;
  }
}

.dnd__upload_file[data-default] {
  width: 100%;

  .dnd__upload_file_wrap {
    background: var(--default_preview_bg);
    border: 1px solid var(--default_preview_border);
  }

  .dnd__upload_file_empty {
    pointer-events: none;
    display: block;
    width: 30px;
    height: 40px;

    path {
      fill: var(--default_preview_icon);
    }
  }
}

@media (pointer:coarse) {
  .dnd__upload_file_delete_btn {
    display: block;
    right: 6px;
    top: 8px;
    left: auto;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 00px;
      left: 0px;
      display: inline-block;
      width: 15px;
      height: 2px;
      background: red;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }


    svg {
      display: none;
    }
  }
}

@media (max-width: 420px) {
  .dnd__upload_file {
    max-width: 45%;
  }

  .dnd__submit_btn {
    width: 100%;
    padding: 10px;
  }
}