.dnd {
  width: 450px;
  height: 200px;

  .dnd__wrap {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
    border: 2px dashed #afafaf;
    transition: .4s;
  }

  .dnd__title {
    color: #9c9c9c;
  }

  .dnd__title {
    pointer-events: none;
  }
}

.dnd__upload_images {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  column-gap: 8px;
  flex-wrap: wrap;
}

.dnd__upload_img {
  display: flex;
  flex-direction: column;
}

.dnd__upload_img_wrap {
  max-width: 120px;
  height: 80px;
  overflow: hidden;
  position: relative;

  &:hover {
    .dnd__upload_img_delete_btn {
      display: block;
    }
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}

.dnd__upload_img_title {
  font-size: 12px;
}

.dnd__upload_img_delete_btn {
  background: none;
  border: none;
  display: none;
  cursor: pointer;
}

.dnd__upload_img_delete_btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, .5));
  width: 25px;

  path {
    fill: rgb(248, 23, 23);
    transition: .3s;
  }

  &:hover path {
    fill: rgb(221, 23, 23);
  }
}

.dnd__submit_btn {
  margin-top: 10px;
  background: rgb(24, 158, 24);
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 3px 10px;
  transition: .3s;

  &:hover {
    background: rgb(21, 139, 21);
  }
}

.dnd__alert {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px 10px;
  display: none;
  font-size: 14px;
}

.dnd__alert[data-type="warning"] {
  background: #f3f736;
  border: 1px solid #cbce26;
  color: #6f700e;
}

.dnd__alert[data-type="danger"] {
  background: rgb(238, 70, 70);
  color: #fff;
  border: none;
}

.dnd.active {
  .dnd__wrap {
    background: #ceebce;
    border: 2px dashed rgb(64, 136, 64);
  }
}

.dnd.complete {
  cursor: default;

  .dnd__title {
    display: none;
  }
}
