// ============================
// DARK THEME
.dnd[data-theme="light_g"] {
  // colors:
  --green: #51cf17;
  --green_active: #49b914;

  // elements
  --dropzone_bg: linear-gradient(to bottom, #b7faf7b0, #fad2fa91);
  --dropzone_bg_h: #5edf5e44;
  --dropzone_border: #c4c4c4;
  --dropzone_border_a: rgb(64, 136, 64);
  --dropzone_title_text: #5c5c5c;
  --dropzone_icon: #a8a8a8;

  --load_btn_full: #ffffff;
  --load_btn_full_h: #eeeeee;
  --load_btn_full_border: #d6d6d6;
  --load_btn_full_text: #3f3f3f;
  --load_btn_compact_bg: #ffffff;
  --load_btn_compact: var(--green);
  --load_btn_compact_h: var(--green_active);

  --alert_warning_bg: #f3f736;
  --alert_warning_border: #dee033;
  --alert_warning_text: #6f700e;

  --alert_danger_bg: rgb(238, 70, 70);
  --alert_danger_border: transparent;
  --alert_danger_text: #fff;

  --submit_btn_text: #fff;
  --submit_btn_bg: var(--green);
  --submit_btn_bg_h: var(--green_active);

  --upload_img_text: #1a1a1a;

  ::-webkit-scrollbar {
    background-color: #b1ebe8b0;
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: #99d1cd;
  }
}

.dnd[data-theme="light_g"].over {
  .dnd__wrap {
    background: var(--dropzone_bg);
    box-shadow: inset 0 0 10px rgba(22, 207, 31, 0.425);
    border: 2px dashed var(--dropzone_border_a);
  }
}

// ============================